@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}
<div >
    <div  style="position:center; top: 50%; padding: 10px;">
        <p>
            <h1 type="text" class="text-danger justify-content-center header-area--multi-row--extra-padding">404</h1>
        </p>
    </div>
    <div class="center" text-align:center;>

        <p>
            <h2 type="text" class="text-success justify-content-center">  شما اجازه ندارید به بخش مدیریت سایت وارد شوید.</h2>
        </p>
    </div>
</div>





